@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-3 md:px-6 py-2 border border-zinc-200 dark:border-[#333333] rounded-full uppercase text-xs tracking-widest text-zinc-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A];
  }

  .contractFormInput {
    @apply rounded-sm border-b border-zinc-200 bg-zinc-200 p-2 px-4 text-zinc-500 outline-0 transition-all placeholder:text-zinc-400 focus:border-b focus:border-yellow-800 focus:text-yellow-800 hover:border-b hover:border-yellow-800
    hover:text-yellow-800 dark:border-zinc-800 dark:bg-zinc-700 dark:text-zinc-400 dark:focus:border-yellow-500 dark:focus:text-yellow-500 dark:hover:border-yellow-500 dark:hover:text-yellow-500;
  }

  .sectionHeading {
    @apply p-2 text-xl uppercase tracking-[15px] text-zinc-500 sm:text-2xl sm:tracking-[20px] flex-shrink-0;
    }
    
    .sectionBody {
      @apply flex flex-1 w-full items-center justify-center overflow-hidden;
  }

  .underline {
    @apply decoration-yellow-700;
  }

  .section {
    @apply mx-auto min-h-screen max-w-7xl text-zinc-900 dark:text-white;
  }

  .sectionContainer {
    @apply flex h-full min-h-screen w-full flex-col items-center pt-20 pb-10 overflow-hidden;
  }

  .scrollbarThin {
    @apply scrollbar-thin scrollbar-track-zinc-400/20 scrollbar-thumb-yellow-700;
  }
}
